/* stijlregels die voor beide errorpagina's gelden */
/* navigatie */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.tekst {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.number {
    font-family: "Inconsolata", monospace;
    color: white;
    background-color: transparent;
    font-size: 200px;
    line-height: 0.9;
}

.regel {
    background-color: transparent;
    color: white;
    font-size: 20px;
}

@media (min-width: 700px) {
    .tekst {
        padding-top: 35px;
    }

    .number {
        font-size: 305px;
    }

    .regel {
        font-size: 30px;
    }
}

@media (min-width: 900px) {
    .tekst {
        padding-top: 0px;
    }

    .number {
        font-size: 425px;
    }

    .regel {
        font-size: 40px;
    }

    .padding-sm {
        padding: 2rem;
    }
}
