.img-service a:hover{
    cursor: pointer;

}
.img-service a:hover .centered{
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 24px;
    transition: all 0.7s ease;
    background-image: url(../afbeeldingen/Logo_inacc.png);
    background-repeat: no-repeat;
    background-position: center 65%;
    background-size: 144px;
    filter: invert(1)
}
.img-service a:focus img {
    border: 4px solid black;
}
.img-service{
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.centered {
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-size: 18px;
    transition: all .9s ease;
  }
  .overlay-text{
    text-align: center;
    padding-top: 8px;
    line-height: 18px;
  }
  @media (max-width: 768px){
    .centered {
        font-size: 20px;
        height: 60px;    
    }
    .overlay-text{
        line-height: 175%;
    }
  }

  @media (min-width: 768px) and (max-width:960px){
    .centered {
        font-size: 10px;
        height: 30px;
        line-height: 10px;    
    }
    .img-service a:hover .centered{
        font-size: 15px;
        background-size: 65px;

    }
  }


