.jobs{
    text-align: center;
    
}

.btn-group{
    width: 100%;
    background-color: black;
    color: white;
    
}

.btn{
    color: white;
}

.btn:hover{
    color: #4d699d;
}

.btn:active{
    color: #4d699d;
}
