/*.dropbtn {
    background-color: transparent;
    color: black;
    box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    padding: 16px;
    margin: 19px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 900px;
    text-align: left;
    position: relative;
}

.dropbtn:focus {
    outline: 0;
}



.dropdown {
    position: relative;
    display: inline-block;
    background-color: white;
}

.dropdown .fa {
    color: #4d699d;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: -webkit-box;*/
    /* Safari */
/*
    display: flex;
    justify-content: center;


}


.dropdown-content {
    margin: auto;
    display: none;
    position: relative;
    background-color: transparent;
    z-index: 1;
}


.dropdown-content a {
    position: relative;
    color: black;
    padding: 4px 30px;
    text-decoration: none;
    display: block;

}



.show {
    display: contents;
}


.dropdown-text {
    font-weight: bold;
    color: #4d699d;
}

.dropdown-content a:hover {
    color: black;
}

.dropdown-content a:before {
    content: "";
    position: absolute;
    width: 23%;
    height: 2px;
    bottom: 0;
    left: 10;
    background-color: #53565e;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
*/

.btn-style{
    background-color: white;
    color: black;
    box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;
    height: 70px;
}


.btn-style:focus {
    outline: 0;
    box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.1);
}
.container-self{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.dropdown-toggle::after {
    display: none;
}
.ico-pos{
    margin-right: 10px;
    padding-top: 5px;
}
.dropdown-content a:before {
    content: "";
    position: absolute;
    width:23%;
    height: 2.1px;
    bottom: 0;
    background-color: #4d699d;
    color:black;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.dropdown-content a:hover {
    color: black;
    background-color: white;
}

.dropdown-content {
    margin: auto;
    display: none;
    position: relative;
    background-color: transparent;
    z-index: 1;
}
.dropdown-text {
    font-weight: bold;
    color: #4d699d;
    background-color: white;
}
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.dropdown-content a:hover {
    color: black;
    background-color: white;
}
.dropdown-content a {
    position: relative;
    color: black;
    background-color: white;
    text-decoration: none;
}
.dropdown-menu{
    border: none;
}
.show {
    display: contents;
}
.list-color{
    color: #4d699d;
    background-color: white;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (max-width: 992px) {
    .container-self{
        width: 80%;
    }
}
@media (max-width: 1200px) {

}