@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&family=Oswald&family=Play&display=swap");

/* --- TEAM --- */

.image-overlay {
  position: relative;
}

.image-overlay::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  color: white;
  z-index: 1;
}

.image-overlay img {
  filter: grayscale(0.3);
}

.media img {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

/* IE fix */
.card * {
  min-height: 0.01px;
}

.card-title,
.media h3 {
  margin-bottom: 0.5rem;
}

.card-subtitle,
.media h4 {
  font-size: 90%;
  color: #aaa;
  background-color: white;
  margin-top: 0;
}

.card p,
.media p {
  margin-top: 1rem;
}

.people .row {
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  #people {
    width: 90%;
  }

  .gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 15rem);
    /* background: linear-gradient(to bottom, rgba(77, 105, 157, 0.1), rgba(77, 105, 157, 0) 15rem); */
    background-attachment: fixed;
  }

  .people .row {
    margin-top: -7rem;
  }

  .people .row:first-child {
    margin-top: 0;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* --- /TEAM --- */

[id]::before {
  content: "";
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

.no-fix-anchors [id]::before {
  height: initial;
  margin-top: initial;
}

/*======================================
//--//-->   Body
======================================*/

html,
body {
  height: 100%;
}

body {
  color: #555;
  background-color: #fff;
  font-family: "Play", "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  display: flex;
  flex-flow: column;
}

.nav-link,
.com-header {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:visited {
  color: #444;
  background-color: white;
}

a:link,
a:visited,
.navbar-light .navbar-nav .active .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
  color: #4d699d;
  background-color: white;
}

.foot-link a:link,
.foot-link a:visited {
  color: #4d699d;
  background-color: #222;
}

#mainNav .navbar-brand img,
#mainNav .nav-link {
  transition: all 0.4s ease;
}

#mainNav .nav-link {
  font-size: 15px;
}

#mainNav {
  position: absolute;
  top: 0;
  z-index: 1030;
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  body {
    padding-top: 100px;
  }

  #mainNav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .scrolled #mainNav {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  }

  .scrolled #mainNav .navbar-brand img {
    height: 50px;
  }

  .scrolled #mainNav .nav-link {
    font-size: 14px;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
  transform: scaleX(0.85);
  transform-origin: left;
}

.fix-trans,
.link {
  transform-origin: center;
}

h3 {
  font-family: "Play", "Open Sans", Arial, sans-serif;
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

table.p-0 th,
table.p-0 td {
  padding: 0;
}

/*======================================
//--//-->   INTRO
======================================*/

.intro {
  color: #fff;
  background-color: black;
  padding: 0;
  margin: 0;
 
}

.bg-image {
  background-image: url(../afbeeldingen//87068643_512859712748803_5864739875177103360_n.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.intro .intro-content {
  position: relative;
  padding: 5rem 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.intro-subtitle {
  letter-spacing: 1.5px;
  font-style: italic;
  font-size: 35px;
  font-family: "Montserrat Alternates", sans-serif;
  transform: scaleX(0.85);
  line-height: 40px;
}

.intro-title {
  font-size: 125px;
}
@media (max-width: 768px){
  .intro {
    margin-top: 100px;
  }
}
@media (max-width: 550px),
(max-height: 550px) {
  .intro-title {
    font-size: 60px;
  }

  .intro .intro-subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}

/*======================================
//--//-->   FOOTER
======================================*/
.footer {
  margin-top: auto;
  background-color: #222;
  color: #bbb;
  font-size: 95%;
}

.footer h2 {
  color: #4d699d;
  background-color: #222;
  margin-bottom: 0.2rem;
}

.footer hr {
  border-color: #333;
}

.com-header {
  font-size: 18px;
}

a[href^=tel],
a[href^=fax] {
  text-decoration: none;
  color: #bbb;
  background-color: #222;
}

a[href^=tel]:hover,
a[href^=fax]:hover {
  text-decoration: underline;
}

/*.copyright{
  text-align: right;
}*/

/*======================================
//--//-->   CONTACT
======================================*/

#contact-image-1 div {
  background: url("../afbeeldingen/kantoor-inacc-1.jpg") no-repeat 10%;
  background-size: cover;
}

iframe {
  filter: grayscale(0.7);
  display: block;
}

#maps {
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#maps iframe {
  /*  margin-top: -85px;*/
  width: 100%;
  /*  height: 535px;*/
}

.tel-fix [href^=tel] {
  color: #555;
  ;
  background-color: white;
}

/*FORM*/
input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus,
.form-group textarea:focus {
  box-shadow: 0 0 0 2.1px #ccc;
  border: 1px solid #ccc;
}

/*.cb-style{
  width: 15px;
  height: 15px;
}*/
input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  transform: scale(1.5);
  margin-top: 8px;
  left: 23px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext {
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

@media (max-width: 576px) {
  #form1 {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/*======================================
//--//-->   Preloader
======================================*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #4d699d;

  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

  z-index: 1001;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #4d699d;

  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: white;
  color: #555;
  ;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition: all 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);

  -webkit-transition: all 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/*======================================
//--//-->   Services
======================================*/
#services-images-mob,
#services-images-pc {
  position: relative;
  z-index: 1;
}

.img-service a:hover {
  cursor: pointer;
}

.overlay-image a:hover .centered {
  background-image: url(../afbeeldingen/logo-inacc.png);
  background-repeat: no-repeat;
  background-position: center 78%;
  background-size: 65%;
}

.img-service a:hover .centered {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  color: #555;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .8;
  transition: all .4s ease;
  border: 4px solid rgba(0, 0, 0);
}

.img-service a:hover .overlay-text {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 40px;
}

.img-service {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  border-radius: 2%;
}

.centered {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
  transition: all .7s ease;
}

.overlay-text {
  text-align: center;
  font-size: 16px;
  padding: 10px 4px;
  line-height: 18px;
}

.bg-img-acc,
.bg-img-fisc,
.bg-img-adv,
.bg-img-wet {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-fisc {
  background-image: url(../afbeeldingen/fiscaliteit.jpg);
}

.bg-img-acc {
  background-image: url(../afbeeldingen/accountancy.jpg);
}

.bg-img-adv {
  background-image: url(../afbeeldingen/advies.jpg);
}

.bg-img-wet {
  background-image: url(../afbeeldingen/wettelijke-opdrachten.jpg);
}

.list-color {
  color: #4d699d;
  background-color: white;
}

.mobileShow {
  display: none;
}

.pcShow {
  display: flex;
}

@media (max-width: 900px) {
  .img-service a:hover .overlay-text {
    height: 50px;
  }

  .centered {
    height: 50px;
  }

  .overlay-text {
    padding: 15px 1px;
  }

}

@media (min-width: 900px) and (max-width:1200px) {
  .img-service a:hover .centered {
    background-size: 50%;
  }

  .centered {
    height: 50px;
  }

  .img-service a:hover .overlay-text {
    height: 50px;
  }

}

/* Smartphone */
@media only screen and (min-width : 320px) and (max-width : 750px) {
  .mobileShow {
    display: flex;
  }

  .pcShow {
    display: none;
  }
}

/*======================================
//--//-->   Links
======================================*/

.accordion button {
  background-color: white;
  color: #555;
  ;
  box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  position: relative;
  height: 70px;
  padding-left: 1.3em;
  padding-right: 1.3em;
}

.accordion button:focus {
  outline: 0;
  box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.1);
}

.accordion .dropdown-toggle::after {
  display: none;
}

.accordion button .fas {
  transform: rotate(0deg);
  transition: transform 0.35s ease;
  vertical-align: middle;
  line-height: inherit;
}

.accordion button.collapsed .fas {
  transform: rotate(90deg);
}

.accordion .accordion-content a {
  position: relative;
  display: block;
  width: 100%;
}

.accordion .accordion-content a,
.accordion .accordion-content a:hover,
.accordion .accordion-content a:focus {
  color: #555;
  ;
  background-color: white;
  -webkit-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}

.accordion .accordion-content a:hover,
.accordion .accordion-content a:focus {
  color: #4d699d;
}

.accordion .accordion-content a .dropdown-text {
  display: inline-block;
  position: relative;
  padding: 0.25rem 0;
  font-weight: bold;
}

.accordion .accordion-content a .dropdown-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.1px;
  bottom: 0;
  background-color: #4d699d;
  color: #555;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.accordion .accordion-content {
  width: 100%;
  border: none;
}

.accordion ul {
  margin-bottom: 0;
}

.accordion .accordion-content a:hover .dropdown-text:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.accordion .accordion-content .dropdown-item {
  padding-top: 0;
  padding-bottom: 0;
}

.accordion .accordion-content .dropdown-item .fa-li {
  left: -2.2em;
}

.list-color {
  color: #4d699d;
  background-color: white;
}

/* Safari remove telephone white background */