@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:400&display=swap");

html,
body {
  height: 100%;
}

body {
  color: #666;
  background-color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  display: flex;
  flex-flow: column;
}

h3 {
  font-size: 150%;
}

.nav-link {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:visited {
  color: #444;
}

a:link,
a:visited,
.navbar-light .navbar-nav .active .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
  color: #4d699d;
}

.logo_container {
  margin-top: 20px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-static-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .scrolled #mainNav .navbar-brand img {
    height: 50px;
  }

  .scrolled #mainNav .nav-link {
    font-size: 90%;
  }
}

#mainNav * {
  transition: all 0.4s ease;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.toggle-left {
  float: right;
  margin-left: 330px;
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

/*======================================
//--//-->   INTRO
======================================*/

.intro {
  /*  height: 60vh;*/

  color: #fff;
  background-color: black;
  padding: 0;
  margin: 0;
}
.bg-image {
  background-image: url(../afbeeldingen//87068643_512859712748803_5864739875177103360_n.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro .intro-content {
  text-align: center;
  position: relative;
  padding: 5rem 0;
}

.intro .overlay-intro {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.intro .intro-subtitle {
  letter-spacing: 1.25px;
  font-style: italic;
  font-size: 35px;
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 40px;
}
/*
.intro-content {
  margin-top: 100px;
}
*/
.intro-title {
/* text-transform: uppercase; */
  font-size: 125px;
/*font-weight: 800;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif; */
}

@media (max-width: 550px), (max-height: 550px) {
  .intro-title {
    font-size: 60px;
  }

  .intro .intro-subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}

/*======================================
//--//-->   FOOTER
======================================*/
footer {
  margin-top: auto;
  background-color: #222;
  color: #bbb;
}

footer h3 {
  color: #4d699d;
}

footer hr {
  border-color: #333;
}

#footer-logo {
  filter: invert(1);
}
